body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(102 96 149 / 52%);
    border: 2px solid rgb(102 96 149 / 52%);
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 40px;
    margin-bottom: 20px;
}
#display{
    display: flex;
    justify-content:center;
    background: rgb(242, 242, 242);
    flex-wrap: wrap;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 10px;
}
.current,.pre{
    display: flex;
    width: 272px;
    height: 50px;
    flex-direction: column-reverse;
    padding: 10px;
    font-size: 35px;
    align-items: end;
    border-radius: 10px;
    justify-content: center;
}
.pre{
    font-size: 24px;
    height: 30px;
   
}
#panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3px;
}
button {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 25px;
    border: 2px solid #797db2;
    border-radius: 10px;
}
#dot{
    font-size: 40px;
    padding-bottom: 20px;
}
#delete,#AC{
    width:130px;

}
#AC{
    background: rgb(250 197 180);
}
#delete{
    background: rgb(195 241 218);
}
#fucbtn{
    font-size: 30px;
    background: rgb(191 191 240);
}
.footer{
    font-size: 20px;
    color: rgb(128 126 126);
}
a{
    text-decoration: none;
    color: rgb(128 126 126);
}