body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    background-color: rgb(199, 42, 14);
}
#display{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: black;
    color: white;
}
#panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: rgb(130, 196, 196);
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
button{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}